<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="[%d{HH:mm:ss}][%-5level][%logger{36}] %t - %msg%n"/>
    </Console>
    <File name="File" fileName="logs/bookassist.log">
    	<PatternLayout pattern="[%d{HH:mm:ss}][%-5level][%logger{36}] %t - %msg%n"></PatternLayout></File></Appenders>
  <Loggers>
    <Root level="debug">
      <AppenderRef ref="Console" level="info"/>
      <AppenderRef ref="File" level="debug"/>
    </Root>
  </Loggers>
</Configuration>